.row1, .row2{
justify-content: center;
}
.row2{
font-size: small;
}
.row3{
height: 10%;
background-color: rgba(33, 33, 63, 0.829);
}
.footerDIV{
display: flex;
justify-content: space-between;
width: 50%;

}
