<div class="footer">
<mat-toolbar >
  <mat-toolbar-row class="row1">
    <div class="footerDIV">
      <mat-divider [vertical]="true"style="background-color:black"></mat-divider>

      <button mat-stroked-button>Home</button>
      <mat-divider [vertical]="true"style="background-color:black"></mat-divider>
      
      <button mat-stroked-button>Contact</button>
     
      <mat-divider [vertical]="true" style="background-color:black"></mat-divider>

    </div>

  </mat-toolbar-row>

  <mat-toolbar-row class="row2">
   Next Move, Quand le service devient un art
  </mat-toolbar-row>
<div class="row3">
  <span> </span>
</div>
</mat-toolbar>
</div>