<div class="introImage">
  <div class="intro">
    <mat-card>
      <mat-card-content class="introtext">
        <h2> <b> {{serviceContent?.serviceName}} </b> </h2>
        <h5>{{serviceContent?.description}}</h5>

      </mat-card-content>
    </mat-card>

  </div>
  <div class="cards">
    <mat-card class="card">
      <img mat-card-image   src="{{microService?.image}}" >

      <mat-card-title style="float:left">
        {{microService?.name}}
      </mat-card-title>
    </mat-card>
   
  </div>
</div>
