<div>
  <div class="intro">
    <div class="logoIntro">
      <img class="imageLogo" src="../../../assets/image/logo/facebook_cover_photo_1.png" alt="">
    </div>
<div class="divider"></div>
    <div class="textIntro">
      Bienvenue dans Next Move, votre premier partenaire, durant toutes vos operations de menage, d'entretien et de
      reparation.
      Nos services diversifiés recouvrent de nombeux domaines techniques. Nous nous ferons un plaisir de recevoir votre
      requête,
      et de régler votre soucis dans les plus bref delai. N'hesitez pas à nous contacter!
    </div>
    <div class="divider"></div>

  </div>

  <div style="display:block;" [style.width]="width">
    <slideshow #slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [arrowSize]="arrowSize"
      [showArrows]="showArrows" [disableSwiping]="disableSwiping" [autoPlay]="autoPlay" [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
      [debug]="debug" [backgroundSize]="backgroundSize" [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat"
      [showDots]="showDots" [dotColor]="dotColor" [showCaptions]="showCaptions" [captionColor]="captionColor"
      [captionBackground]="captionBackground" [lazyLoad]="lazyLoad" [hideOnNoSlides]="hideOnNoSlides">
    </slideshow>
  </div>
  <!-- space -->
  <div class="parallax1">
    <div class="parallaxDIV" id="P1">
      <h4>Qualité de service</h4><br>
      Ceci est un test
    </div>
  </div>

  <div class="parallax2">

    <div class="parallaxDIV" id="P2">
      <h4>Qualité de service</h4><br>
      Ceci est un test
    </div>
  </div>
  <div class="parallax3">

    <div class="parallaxDIV" id="P3">
      <h4>Qualité de service</h4><br>
      Ceci est un test
    </div>
  </div>

  <div style="display:block;" [style.width]="width">
    <slideshow #slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [arrowSize]="arrowSize"
      [showArrows]="showArrows" [disableSwiping]="disableSwiping" [autoPlay]="autoPlay" [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
      [debug]="debug" [backgroundSize]="backgroundSize" [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat"
      [showDots]="showDots" [dotColor]="dotColor" [showCaptions]="showCaptions" [captionColor]="captionColor"
      [captionBackground]="captionBackground" [lazyLoad]="lazyLoad" [hideOnNoSlides]="hideOnNoSlides">
    </slideshow>
  </div>




</div>
